* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 116px;
    padding: 0 40px;
    background-color: #fff;
}

.form-search__label {
    font-size: 42px;
    margin-right: 32px;
}

.form-search__label-span:nth-child(1) {
    color: #4285f4;
}

.form-search__label-span:nth-child(2) {
    color: #ea4335;
}

.form-search__label-span:nth-child(3) {
    color: #fbbc05;
}

.form-search__label-span:nth-child(4) {
    color: #4285f4;
}

.form-search__label-span:nth-child(5) {
    color: #34a853;
}

.form-search__label-span:nth-child(6) {
    color: #ea4335;
}

.form-search__label-span:nth-child(7) {
    color: #1ada4a;
}

.form-search__container {
    display: flex;
    align-items: center;
}

.form-search__input-wrap {
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 420px;
    height: 48px;
    border: 1px solid #dfe1e5;
    padding: 6px 14px;

}

.form-search__input-icon {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    display: block;
    margin-top: 3px;
}

.form-search__input {
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 18px;
    color: #9aa0a6;
    flex: 1;
    height: 100%;
}

.search-button {
    margin-left: 20px;
    font-size: 16px;
    padding: 8px 8px;
    height: 90%;
}
/* Loading bar */
.progress {
    position: fixed;
    top: 116px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ddd;
}

.bar {
    height: 6px;
    width: 1%;
    background-color: #f99;
    background-image: linear-gradient(90deg , #f99,#ff9);

}

/* View Part */
.view {
    max-width: 1298px;
    margin: 122px auto 0;
    
}

.title {
    height: 200px;
    font-size: 60px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    background: -webkit-linear-gradient(rgb(27, 233, 54), rgb(13, 225, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.wrapper {
    margin-right: -8px;
    margin-left: -8px;
    max-height: 1200px;
    /* overflow-y: scroll; */
}

.img {
    width: 25%;
    height: 202px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
}